<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PaceWeb</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>

        @RenderBody()

    </div>

    <br /><br />
    <footer>
        <div>
            @*&copy; 2019 - PaceWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            &copy; 2019 - PaceWeb
        </div>
    </footer>

</body>
</html>
